.panel {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px
}
.poster-label {
    padding: 2px;
    padding-right: 5px;
}

#load-more-messages {
    width: 100%;
}

#no-more-messages-text {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
