.panel {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px
}

#load-more-posts {
    width: 100%;
}

#no-more-posts-text {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px
}

/*Hide file input and style label instead*/
input[type="file"] {
    display: none;
}
