<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <h1>Home</h1>
                <p> Hello, {{displayName}}</p>
            </div>
            <div class="panel" style="text-align: center">
                <!--TODO: Replace-->
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Angular Firebase Sample</h1>
                <p>This is a sample project off of which to build Firebase applications.
                </p>
                <b>Made with ♥ by Deb Banerji</b>
            </div>
        </div>
    </div>
</div>

